body {
    background: url(https://videohive.img.customer.envatousercontent.com/files/3a6e02dc-2769-456d-a9d7-248ffe6d4005/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=a8be7ab960f43275d49d2833ef0bcb2d);
    background-color: whitesmoke;
}

div.container {
    padding-top: 40px;
    padding-bottom: 5rem;
}

div.col-md-6 {
    border: 1px solid ;
    box-shadow: 9px 8px 15px burlywood;
    padding-bottom: 1rem;
   
}

h4 {
    color: black;
    text-align: center;
    
    font-size: 30px
}


div.form-row p {
    color: red;
    font-style: italic;
}

div.form-row ul li{
    font-style: italic;
}

footer {
    text-align: center;
    font-weight: bold;
}

p.sign_in{
    font-weight: bold;
    text-decoration: underline;
}
