* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham",serif;
}
#container {
    padding-bottom: 20px;
    background-color: black;
}
#title {
    color: white;
}
#title-pincode {
    width: 100%;
    height: 40px;
    display: flex;
    border-bottom: 1px solid rgb(56, 55, 55);
    font-size: 11px;
    align-items: center;
}
#map {
    margin-left: 80%;
    margin-right: 10px;
}
.fa-map-marker-alt {
    color: white;
    font-size: 25px;
}
#code {
    width: 105px;
    position: relative;
}
#code-pencil {
    position: absolute;
    right: 0;
    top: 0;
}
.codes_zero {
    margin: auto;
    text-transform: uppercase;
    font-size: 12px;
}
.codes_one {
    text-decoration-line: underline;
}
#menu {
    border-bottom: 1px solid rgb(56, 55, 55);
}
#menu_list {
    width: 90%;
    margin: auto;
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: space-between;
}
#logo {
    width: 125px;
    height: 28px;
}
#logo a img{
    width: 100%;
    height: 100%;
}
button#dropdownMenuButton2 {
    border: none;
}
.menu.mune  {
    font-size: 20px;
}
#search_zero {
    width: 500px;
    height: 40px;
    position: relative;
}
#search {
    width: 100%;
    height: 100%;
    padding-left: 25px;
    font-size: 18px;
    color: #c7b7be;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #ffffff;
}
#search_one {
    position: absolute;
    top: 1px;
    right: 0;
}
#search_one button {
    width: 40px;
    height: 38px;
    font-size: 22px;
    background-color: #00e9bf;
    border: 1px solid #00e9bf;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.fa-search {
    background-color: #00e9bf;
}
.menu.order a, .menu.logout a{
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
}
.order a p, .logout a p {
    margin: auto;
}
#icon_one a{
    color: #ffffff;
    text-decoration: none;
}
#icon_one {
    border-left: 2px solid #ffffff;
    padding-left: 20px;
    position: relative;
}
#icon_two {
    position: absolute;
    right: -3px;
    top: -10px;
}
#icon_two span {
    line-height: 1.25rem;
    position: absolute;
    top: -7px;
    right: 40px;
    background: #fff;
    color: black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    border: 2px solid #000;
}
.icon_one {
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 10px;
}   
#detail {
    width: 900px;
    margin: 20px auto;
    color: black;
    background-color: skyblue;
}
#detail-header h2{
    background-color: blue;
    text-align: center;
}
.info {
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid white;
}
.info__left {
    padding-left: 10px;
    width: 200px;
}
.info__right {
    padding-left: 10px;
    width: 150px;
}
.info__mid {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-left: 10px;
    width: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info__mid:hover {
    white-space: normal;
    overflow: visible;
}
button.btn.btn-primary.intal {
    background-color: skyblue;
    color: blue;
    border: none;
}
.change {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid gray;
    padding-left: 10px;
}
.fake_link {
    text-decoration-line: underline;
}
#footer {
    background-color: #1d1d1d;
    color: white;
    padding: 30px 0;
}
.bd_one {
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.upper {
    text-transform: uppercase;
}
.footer_one, .footers_one {
    padding-left: 20px;
    font-size: 1rem;
    color: white;
    font-weight: 700;
}
.footer_two {
    width: 80%;
    margin-top: 10px;
    margin-left: 20px;
}
#arrow_id {
    position: relative;
}
#email_id {
    width: 100%;
    padding-left: 20px;
    height: 55px;
    border-radius: 10px;
    border: none;
}
#arrow_id__icon {
    position: absolute;
    top: 1px;
    right: 2px;
}
#arrow_id__icon button {
    width: 55px;
    height: 53px;
    color: #757575;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    background-color: white;
}
#footer-list {
    margin-top: 15px;
    display: flex;
    list-style-type: none;
}
.footer-list__item {
    margin-right: 1.6rem;
}
.footer-list__item a {
    font-size: 1.5rem;
    color: white;
}
#ytb:hover {
    color: red;
}
#isg:hover {
    color: #fe3c3c;
}
#copywrite {
    margin-top: 50px;
}
.link {
    text-decoration: none;
}
.footer_one:hover {
    color: greenyellow;
}