* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url(https://videohive.img.customer.envatousercontent.com/files/3a6e02dc-2769-456d-a9d7-248ffe6d4005/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=a8be7ab960f43275d49d2833ef0bcb2d);
    background-color: whitesmoke;
}
#center {
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 9px 8px 15px burlywood;
    margin-top: 50px;
}
#center-title {
    text-align: center;
    margin-top: 20px;
}
#center-login {
    margin-top: 20px;
    padding:10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.error {
    color: red;
    font-style: italic;
}
.input {
    width: 480px;
    height: 40px;
    margin: 5px 0;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid gainsboro;
}
#click-one {
    width: 40%;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 3px;
    border: 1px solid blue;
    margin: 0 auto;
}
#click-one:hover {
    background-color: darkblue;
}
#contact {
    margin-top: 10px;
    text-align: center;
}
/**************** START RESPONSIVE MEDIA SCREEN *****************/
/* media_type: screen, all, print  */

/****** Tablet -> PC *******/
@media (min-width: 768px) {
}

/****** Tablet -> PC *******/
@media (min-width: 1024px) {
}

/* View screen 13 - 14.6 inch. 1360, 1366px */
@media (min-width: 1024px) and (max-width: 1370px) {
}

/* mobile */
@media (max-width: 768px) {
    #center {
        width: 100%;
        margin: 0 auto;
        border: 1px solid black;
        box-shadow: 9px 8px 15px burlywood;
        margin-top: 50px;
    }
}

/* iPhone 5, X, XR */
@media (max-width: 375px) {
}
/**************** END RESPONSIVE MEDIA SCREEN *****************/