/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* reset browser */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css for website */
* {
	box-sizing: border-box;
	font-family: 'Gotham', sans-serif;
}

#container {
	width: 100%;
	font-family: 'Gotham', sans-serif;
}

#title {
	color: white;
	width: 100%;
}

#title_content {
    width: 100%;
    height: 85px;
    background-color: black;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;	

}

#title #title_pincode {
	width: 100%;
	height: 39px;
	background-color: black;
	display: flex;
	border-bottom: 1px solid rgb(56, 55, 55);
	flex-direction: row;
	align-items: center;
	word-spacing: 0.5rem;
	font-size: 11px;
}

.location_img {
	width: 30px;
	height: 70%;
	margin-left: 80%;
}

.location_img img {
	width: 20px;
	height: 85%;
}

.title_input {
	width: 506px;
	height: 41px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
	background-color: white;
	border-radius: 7px 7px 7px 7px;
	position: relative;
}

.title_input input {
	width: 480px;
	height: 16px;
}

.title_input input {
	position: absolute;
	border: none;
	outline: none;
}

.title_search_icon {
	width: 40px;
	height: 100%;
	border-radius: 0px 7px 7px 0px;
	background-color: #00e9bf!important;;
	position: absolute;
	right: 0px;
}

.box_search_icon {
	width: 23px;
	height: 23px;
	margin-top: 7px;
	margin-left: 9px;
}

.title_search_icon img {
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.title_logo {
	width: 124.5px;
	height: 29px;
}

.title_logo .roma_icon {
	width: 100%;
	height: 100%;
}
.abcd {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
}
.sign_in {
	float: left;
	border-right: 1px solid white;
	width: 80px;
}

.sign_in a {
	text-decoration: none;
	color: white;
	font-size: 13px;
	font-weight: bold;
}

.title_cart {
	width: 100px;
	font-size: 13px;
	display: flex;
	align-items: center;
	font-weight: bold;
	justify-content: space-between;
	position: relative;
}

.box_cart_img {
	width: 25px;
	height: 30px;
}

.box_cart_img img {
	width: 100%;
	height: 100%;
	margin-left: 15px;
}

.title_cart span.count_product {
	width: 15px;
	height: 15px;
	display: flex;
	background-color: white;
	border-radius: 100%;
	color: black;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 34px;
	top: 0px;
}

#menu {
	width: 100%;
	height: 77px;
	background-color: #353535;
}

html {
	scroll-behavior: smooth;
}

.content_menu {
	width: 1250px;
	margin: 0 auto;
	padding-top: 24px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}

.menu_item {
	color: white;
	text-decoration: none;
	display: flex;
	font-size: 14px;
	align-items: center;
	justify-content: space-around;
}

.dropdown ul {
	background-color: #121212;
	width: 250px;
}

.dropdown ul li {
	margin-top: 20px;
}

.dropdown ul li p{
	color: white;
	margin-left: 17px;
	font-weight: bold;
}

.dropdown ul li a{
	color: white;
	font-weight: bold;
	font-size: 14px;
}

.close i {
	width: 20px;
}

.fa-pencil-alt {
	margin-left: 5px;
}

.close {
	font-size: 14px;
}

#dropdownMenuButton2 {
	color: white;
	font-weight: bold;
	background-color: black;
	border: none;
}

.dropdown button i{
	margin-right: 5px;
}

.box_menu img {
	width: 28px;
	height: 28px;
}

.menu_item1 img{
	width: 100%;
	height: 100%; 
}

.box_menu1 {
	width: 96px;
}

.box_menu2 {
	width: 97px;
}

.box_menu3{
	width: 122px;
}

.box_menu4{
	width: 104px;
}

.box_menu5{
	width: 89px;
}

.box_menu6{
	width: 139px;
}

.box_menu7 {
	width: 182px;
}

.box_menu8 {
	width: 176px;
}

.box_roma_banner {
	width: 100%;
	height: 380px;
}

.box_roma_banner img {
	width: 100%;
	height: 100%;
}

#content {
	width: 100%;
	background-color: #121212;
}

/* highlight */
.title {
	color: white;
	font-size: 24px;
	font-weight: bold;
	padding-top: 90px;
}

#content #highlight {
	width: 85%;
	margin: 0 auto;
}

.highlight_content {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding-top: 35px;
}

.highlight_img {
	width: 330px;
	height: 210px;
}

.highlight_img img {
	width: 100%;
	height: 100%;
}

/* popular brand */
#content #brand {
	width: 85%;
	margin: 0 auto;
	margin-top: 40px;
}

.brand_content {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding-top: 35px;
}

.brand_img {
	width: 330px;
	height: 210px;
}

.brand_img img {
	width: 100%;
	height: 100%;
	border: 1px solid;
	border-radius: 10px;
}

/* popular product */
#popular_product {
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;
}

.popular_product_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.popular_product_img {
	width: 220px;
	height: 220px;
	position: relative;
}

.popular_product_img img {
	width: 100%;
	height: 100%;
}

.popular_product_img .heart_icon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 1px;
}

.popular_product_detail {
	margin-top: 15px;
	color: white;
	font-weight: bold;
    font-size: 18px;
}

.popular_product_name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.popular_product_price {
	width: 90%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}


.popular_product_old_price {
	font-size: 14px !important;
	color: #9a9a9a !important;
	font-weight: normal;
	text-decoration: line-through;
}

.box_star_icon {
	width: 60%;
	display: flex;
	margin-top: 10px;
}

.star_icon  {
	width: 17.5px;
	height: 17.5px;
}

.star_icon img {
	width: 100%;
	height: 100%;
}

/* mobile phone */
#mobile_phone {
	width: 85%;
	margin: 0 auto;
	margin-top: 170px;
}

.mobile_phone_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}


.mobile_phone_img {
	width: 220px;
	height: 220px;
	position: relative;
}

.mobile_phone_img img {
	width: 100%;
	height: 100%;
}

.mobile_phone_img .heart_icon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 1px;
}

.mobile_phone_detail {
	margin-top: 15px;
	color: white;
	font-weight: bold;
    font-size: 18px;
}

.mobile_phone_name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.mobile_phone_price {
	width: 90%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}


.mobile_phone_old_price {
	font-size: 14px !important;
	color: #9a9a9a !important;
	font-weight: normal;
	text-decoration: line-through;
}

/* new at croma */
#content #new_at_croma {
	width: 85%;
	margin: 0 auto;
	margin-top: 170px;
}

.new_at_croma_content {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding-top: 35px;
}

.new_at_croma_img {
	width: 330px;
	height: 210px;
}

.new_at_croma_img img {
	width: 100%;
	height: 100%;
}

/* laptop and tablet */
#laptop_tablet {
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;
}

.laptop_tablet_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}


.laptop_tablet_img {
	width: 220px;
	height: 220px;
	position: relative;
}

.laptop_tablet_img img {
	width: 100%;
	height: 100%;
}

.laptop_tablet_img .heart_icon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 1px;
}

.laptop_tablet_detail {
	margin-top: 15px;
	color: white;
	font-weight: bold;
    font-size: 18px;
}

.laptop_tablet_name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.laptop_tablet_price {
	width: 90%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}


.laptop_tablet_old_price {
	font-size: 14px !important;
	color: #9a9a9a !important;
	font-weight: normal;
	text-decoration: line-through;
}

/* recomment */
#recomment {
	width: 85%;
	margin: 0 auto;
	margin-top: 170px;
}

.recomment_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.recomment_img {
	width: 220px;
	height: 220px;
	position: relative;
}

.recomment_img img {
	width: 100%;
	height: 100%;
}

.recomment_img .heart_icon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 1px;
}

.recomment_detail {
	margin-top: 15px;
	color: white;
	font-weight: bold;
    font-size: 18px;
}

.recomment_name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.recomment_price {
	width: 90%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}


.recomment_old_price {
	font-size: 14px !important;
	color: #9a9a9a !important;
	font-weight: normal;
	text-decoration: line-through;
}

/* audio */
#audio {
	width: 85%;
	margin: 0 auto;
	margin-top: 170px;
}

.audio_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.audio_img {
	width: 220px;
	height: 220px;
	position: relative;
}

.audio_img img {
	width: 100%;
	height: 100%;
}

.audio_img .heart_icon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 1px;
}

.audio_detail {
	margin-top: 15px;
	color: white;
	font-weight: bold;
    font-size: 18px;
}

.audio_name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.audio_price {
	width: 90%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}


.audio_old_price {
	font-size: 14px !important;
	color: #9a9a9a !important;
	font-weight: normal;
	text-decoration: line-through;
}

/* apple at croma */
#content #banner_apple {
	width: 85%;
	margin: 0 auto;
	padding-top: 170px;
}

.banner_apple_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
}

.banner_apple_img {
	width: 266px;
	height: 350px;
	border: rgb(53 53 53) solid 1px;
	border-radius: 10px;
}

.banner_apple_img img {
	width: 100%;
	height: 266px;
	border-radius: 10px;
}

.banner_apple_price {
	color: white;
	font-weight: bold;
	margin-top: 25px;
	margin-left: 10px;
}

/* personal grooming */
#personal_grooming {
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;
}

.personal_grooming_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.personal_grooming_img {
	width: 220px;
	height: 220px;
	position: relative;
}

.personal_grooming_img img {
	width: 100%;
	height: 100%;
}

.personal_grooming_img .heart_icon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 1px;
}

.personal_grooming_detail {
	margin-top: 15px;
	color: white;
	font-weight: bold;
    font-size: 18px;
}

.personal_grooming_name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.personal_grooming_price {
	width: 90%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}


.personal_grooming_old_price {
	font-size: 14px !important;
	color: #9a9a9a !important;
	font-weight: normal;
	text-decoration: line-through;
}

/* spotlight */
#content #spotlight {
	width: 85%;
	margin: 0 auto;
	padding-top: 170px;
}

.spotlight_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
}

.spotlight_img {
	width: 266px;
	height: 350px;
	border: rgb(53 53 53) solid 1px;
	border-radius: 10px;
}

.spotlight_img img {
	width: 100%;
	height: 266px;
	border-radius: 10px;
}

.spotlight_price {
	color: white;
	font-weight: bold;
	margin-top: 25px;
	margin-left: 10px;
}

/* ads banner */
#ads {
	margin-top: 90px;
}

.ads_box {
	width: 85%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.ads_banner {
	width: 557.5px;
	height: 398.2px;
}

.ads_banner_item1 img{
	width: 100%;
	height: 100%;
}

.ads_banner_item2 img{
	width: 100%;
	height: 100%;
}

/* washing machine */
#washing_machine {
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;
}

.washing_machine_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.washing_machine_img {
	width: 220px;
	height: 220px;
	position: relative;
}

.washing_machine_img img {
	width: 100%;
	height: 100%;
}

.washing_machine_img .heart_icon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 1px;
}

.washing_machine_detail {
	margin-top: 15px;
	color: white;
	font-weight: bold;
    font-size: 18px;
}

.washing_machine_name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.washing_machine_price {
	width: 90%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}


.washing_machine_old_price {
	font-size: 14px !important;
	color: #9a9a9a !important;
	font-weight: normal;
	text-decoration: line-through;
}

/* water purifier */
#water_purifier {
	width: 85%;
	margin: 0 auto;
	margin-top: 170px;
}

.water_purifier_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.water_purifier_img {
	width: 220px;
	height: 220px;
	position: relative;
}

.water_purifier_img img {
	width: 100%;
	height: 100%;
}

.water_purifier_img .heart_icon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 1px;
}

.water_purifier_detail {
	margin-top: 15px;
	color: white;
	font-weight: bold;
    font-size: 18px;
}

.water_purifier_name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.water_purifier_price {
	width: 90%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}


.water_purifier_old_price {
	font-size: 14px !important;
	color: #9a9a9a !important;
	font-weight: normal;
	text-decoration: line-through;
}

/* television */
#television {
	width: 85%;
	margin: 0 auto;
	margin-top: 170px;
}

.television_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.television_img {
	width: 220px;
	height: 220px;
	position: relative;
}

.television_img img {
	width: 100%;
	height: 100%;
}

.television_img .heart_icon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 1px;
}

.television_detail {
	margin-top: 15px;
	color: white;
	font-weight: bold;
    font-size: 18px;
}

.television_name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.television_price {
	width: 90%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}


.television_old_price {
	font-size: 14px !important;
	color: #9a9a9a !important;
	font-weight: normal;
	text-decoration: line-through;
}

/* top brand */
#top_brand {
	margin-top: 170px;
}

.top_brand_title p {
	margin-left: 100px;
}

.top_brand_content {
	width: 85%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}

.top_brand_box {
	width: 122px;
	height: 122px;
	border: 1px solid rgb(53 53 53);
	border-radius: 10px;
}

.top_brand_box img {
	width: 72%;
	height: 72%;
	margin-left: 15px;
	margin-top: 15px;
}

/* home_kitchen */
#home_kitchen {
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;
}

.home_kitchen_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.home_kitchen_img {
	width: 220px;
	height: 220px;
	position: relative;
}

.home_kitchen_img img {
	width: 100%;
	height: 100%;
}

.home_kitchen_img .heart_icon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 1px;
}

.home_kitchen_detail {
	margin-top: 15px;
	color: white;
	font-weight: bold;
    font-size: 18px;
}

.home_kitchen_name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home_kitchen_price {
	width: 90%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}


.home_kitchen_old_price {
	font-size: 14px !important;
	color: #9a9a9a !important;
	font-weight: normal;
	text-decoration: line-through;
}

/* three banner */
#content #three_banner {
	width:85%;
	margin: 0 auto;
	margin-top: 224px;
}

.three_banner_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
}

.three_banner_img {
	width: 350px;
	height: 210px;
	
}

.three_banner_img img {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	border-radius: 10px;
}

/* air conditioner */
#air_conditioner {
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;
}

.air_conditioner_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.air_conditioner_img {
	width: 220px;
	height: 220px;
	position: relative;
}

.air_conditioner_img img {
	width: 100%;
	height: 100%;
}

.air_conditioner_img .heart_icon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 1px;
}

.air_conditioner_detail {
	margin-top: 15px;
	color: white;
	font-weight: bold;
    font-size: 18px;
}

.air_conditioner_name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.air_conditioner_price {
	width: 90%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}


.air_conditioner_old_price {
	font-size: 14px !important;
	color: #9a9a9a !important;
	font-weight: normal;
	text-decoration: line-through;
}

/* refrigerator */
#refrigerator {
	width: 85%;
	margin: 0 auto;
	margin-top: 170px;
}

.refrigerator_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.refrigerator_img {
	width: 220px;
	height: 220px;
	position: relative;
}

.refrigerator_img img {
	width: 100%;
	height: 100%;
}

.refrigerator_img .heart_icon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 1px;
}

.refrigerator_detail {
	margin-top: 15px;
	color: white;
	font-weight: bold;
    font-size: 18px;
}

.refrigerator_name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.refrigerator_price {
	width: 90%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}


.refrigerator_old_price {
	font-size: 14px !important;
	color: #9a9a9a !important;
	font-weight: normal;
	text-decoration: line-through;
}

/* categories */
#content #categories {
	width: 85%;
	margin: 0 auto;
	padding-top: 146px;
}

.categories_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
}

.categories_img {
	width: 266px;
	height: 270px;
	border: rgb(53 53 53) solid 1px;
	border-radius: 10px;
	margin: 0 auto;
}

.categories_img img {
	width: 100%;
	height: 190px;
	border-radius: 10px;
}

.categories_title {
	color: white;
	font-weight: bold;
	margin-top: 25px;
	margin-left: 10px;
}

.categories_img p {
	font-size: 20px;	
	margin-left: 12px;
}

.categories_img p {
	font-size: 20px;	
	margin-left: 12px;
}

.categories_title1 p{
	padding-left: 17px;
	padding-bottom: 20px;
}

.categories_title2 p{
	padding-left: 10px;
	padding-bottom: 20px;
}

.categories_title3 p{
	padding-left: 12px;
	padding-bottom: 20px;
}

.categories_title4 p{
	padding-left: 10px;
	padding-bottom: 20px;
}

/* delivery */
#delivery {
	width:85%;
	margin: 0 auto;
	margin-top: 20px;
}

.delivery_title h1{
	text-align: center;
}

.delivery_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.delivery_box {
	width: 300px;
	height: 64px;
	color: white;
	font-size: 20px;
	font-weight: bold;

}

.delivery_list {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.delivery_content_item1 {
	font-size: 14px;
	margin-top: 10px;
}

.delivery_content_item2 {
	font-size: 14px;
	margin-top: 10px;
}

.delivery_content_item3 {
	font-size: 14px;
	margin-top: 10px;
}

/* tata */
#content #tata {
	width: 85%;
	margin: 0 auto;
	margin-top: 40px;
}

.tata_content {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding-top: 35px;
}

.tata_img {
	width: 370px;
	height: 190px;
}

.tata_img img {
	width: 100%;
	height: 100%;
	border: 1px solid #121212;
	border-radius: 10px;
}

/* information */
#information {
	width: 95%;
	padding-bottom: 40px;
	margin: 0 auto;
}

#information p{
	color: white;
	font-size: 15px;
	margin-top: 50px;
}

.white {
	font-weight: bold;
	text-decoration: underline;
}

.green {
	color: #49a5a2;
	font-weight: bold;
	text-decoration: underline;
}

/* footer */
#footer {
	width: 100% ; 
	height: 440px ;
	background-color: rgb(29 29 29);
} 

.footer_content {
	width: 1220px;
	margin-left: 65px;
	display: flex;
	justify-content: center;
}

.footer_box {
	margin-top: 50px;
	width: 400px;
	height: 340px;
	color: white;

}

.footer_box_right {
	margin-top: 50px;
	width: 400px;
	height: 340px;
	color: white;
	border-right: 1px solid white;
}

.footer_box_right .email {
	width: 290px;
	height: 50px;
	border: 1px solid white;
	border-radius: 10px;
	background-color: white;
}

.email input {
	width: 250px;
	margin-left: 30px;
	margin-top: 10px;
	outline: none;
	border: none;
}

.footer_content_logo {
	display: flex;
	margin-top: 25px;
}

.footer_content_logo i {
	margin-right: 20px;
}

.footer_content_title {
	font-weight: bold;
	letter-spacing: 2px;
	margin-left: 15px;
}

.footer_content_title1 {
	font-weight: bold;
	letter-spacing: 2px;
}

.footer_content_links {
	display: flex;
	font-weight: bold;
	font-size: 14.5px;
	margin-left: 15px;
}

.footer_content_product {
	display: flex;
	font-weight: bold;
	font-size: 14.5px;
	margin-left: 15px;
}

.footer_content_links_left li{
	margin-bottom: 17px;
}

.footer_content_links_right li{
	margin-bottom: 17px;
}

.footer_content_links_right {
	margin-left: 80px;
}

/* css mới thêm*/
.popular_product_img img:hover {
	transform: scale(1.1);
}

.mobile_phone_img img:hover {
	transform: scale(1.1);
}

.laptop_tablet_img img:hover {
	transform: scale(1.1);
}

.recomment_img img:hover {
	transform: scale(1.1);
}

.audio_img img:hover {
	transform: scale(1.1);
}

.personal_grooming_img img:hover {
	transform: scale(1.1);
}

.washing_machine_img img:hover {
	transform: scale(1.1);
}

.water_purifier_img img:hover {
	transform: scale(1.1);
}

.television_img img:hover {
	transform: scale(1.1);
}

.home_kitchen_img img:hover {
	transform: scale(1.1);
}

.air_conditioner_img img:hover {
	transform: scale(1.1);
}

.refrigerator_img img:hover {
	transform: scale(1.1);
}
